[Unit]
Description=ACM Janus Sony Pasori listener agent
After=syslog.target

[Service]
ExecStart=/home/localadmin/reader/contactless.py
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
