[Unit]
Description=Door contactless card processing daemon
After=syslog.target gpiod.service
Wants=gpiod.service

[Service]
ExecStart=/home/localadmin/reader/contactless.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
