[Unit]
Description=Door swipe processing daemon
After=syslog.target gpiod.service
Wants=gpiod.service

[Service]
ExecStart=/home/localadmin/reader/swiped.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
